// ----------------------------
// bootstrap variable overrides
$background-color: #336699;
$border-radius: 10px;
$padding: 20px;
// ----------------------------
// end bootstrap variable overrides
@import "bootstrap";
