<header>
    <!--Add a property state to show two versions of the navigation.-->
    <!--这句话意义不明。什么叫两个版本？是通过prop进行不同状态的导航栏切换吗？-->
    {{nav-bar showSightings=showSightings
              showCryptids=showCryptids
              showWitnesses=showWitnesses
              showCustom=showCustom
              toggle=(action 'toggleCustom')}}
</header>
<div class="container">
    {{flash-alert alerts=alerts}}
    {{outlet}}
</div>